{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
              {% bootstrap_messages %}
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">

            <form action=" {% url 'contato' %}" method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary" >Enviar</button>
              {% endbuttons %}
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<div id="styleSelector"></div>
{% endblock %}